/* CSS ghế thường */
.ghe {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  background-color: rgb(107 114 128);
}

/* CSS ghế đã đặt */
.gheDaDat {
  background-color: #bb3e03;
  cursor: no-drop;
}

/* CSS ghế đang đặt */
.gheDangDat {
  background-color: rgb(34 197 94) !important;
}

/* CSS ghế VIP */
.gheVip {
  background-color: rgb(251 146 60);
}

.gheDuocDat {
  background-color: plum;
  -webkit-box-shadow: 5px 18px 32px 10px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 18px 32px 10px rgba(0, 0, 0, 0.24);
  color: purple !important;
}

/* Real time seat css  */
.gheKhachDat {
  background-color: #00b4d8 !important;
  cursor: no-drop;
}
